[Desktop Entry]
Type=Application
Version=1.0

Name=Tibia
GenericName=MMORPG

Comment=Enjoy Tibia, the legendary free multiplayer online role-playing game!

Icon=com.tibia.client
Exec=tibia-wrapper

Categories=Game;RolePlaying;
Keywords=game;mmorpg;

# Uncomment if you want to prefer discrete GPU
# PrefersNonDefaultGPU=true

# For Flathub submission
X-Flathub-PurgePlanetariumCache=true
